<h3>Cohort Analysis</h3>
<div class="well">
  <p>Note: You can change the number of weeks by specifying the "num_weeks" query parameter, e.g.<br>
<a href="<%="#{request.protocol}#{request.host_with_port}?num_weeks=15"%>"><%="#{request.protocol}#{request.host_with_port}?num_weeks=15"%></a>
<br>
<b>This is set by default to 8 weeks.</b>
</p>
</div>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th>
        Cohort
      </th>
      <th>
        Users
      </th>

      <% @cohorts.size.times do |i| %>
        <% next if i > (@num_weeks.to_i-1) %>
        <th>
          <% if i.eql?(0) %>
          0-7
          <% else %>
          <%= ((i)*7)%>-<%=((i+1)*7)%>
          <% end%> days 
        </th>
      <% end %>

    </tr>
  </thead>

  <% @cohorts.each_with_index do |row, index| %>

    <% 
    total_users = row[1][:total_users]
    start = row[1][:count][0] %>

    <tr>
      <td NOWRAP>
        <%
        date=row[0]
        wkBegin = (date).strftime("%m/%d")
        wkEnd = (date+6).strftime("%m/%d")
        %>
        
        <%= "#{wkBegin}-#{wkEnd}" %>
      </td>
      <td NOWRAP>
        <%= total_users %> users
      </td>
      <% 
      (@cohorts.size).times do |i| %>
        <% 
        next if i > (@num_weeks.to_i-1) %>
        <td NOWRAP>

          <% if row[1][:count][i].to_f > 0 %>
            <%= "#{((row[1][:count][i].to_f/total_users.to_f) * 100.00).round(1)}% " rescue nil %> orderers (<%= "#{row[1][:count][i]}" %>)<br>
            <%= "#{((row[1][:first_time][i].to_f/total_users.to_f) * 100.00).round(1)}% " rescue nil %> 1st time (<%= "#{row[1][:first_time][i]}" rescue nil %>)
          <% else %>
            --
          <% end %>
        </td>
      <% end %>
    </tr>

  <% end %>


</table>